@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~font-awesome/css/font-awesome.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
}

/* as much as possible you can, use tailwind css */